body {
    margin: 0;
    font-family: 'Arial';
  }
  
  .page_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6cb4ec;
  }
  
  .logo {
    margin-bottom: 100px;
    font-size: 50px;
  }
  
  .game_container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .player_container {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    border-radius: 5px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
  }
  
  .name {
    font-size: 25px;
  }
  
  #result-area {
    width: 200px;
    text-align: center;
    color: white;
  }
  
  #play_button {
    font-size: 25px;
    margin-top: 100px;
    padding: 15px 50px;
    background: white;
    color: #6cb4ec;
    border-radius: 5px;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.2);
    cursor: pointer;
  }
  
  #play_button:hover {
    box-shadow: -1px 1px 10px rgba(0,0,0,0.2);
    color: rgb(19, 91, 225);
  }